<ion-view title="CREATE ACCOUNT" id="page2" style="background-color:#000000">
    <ion-nav-title style="color: #ffffff">
        CREATE ACCOUNT
    </ion-nav-title>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" name="signupForm">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="createAccountCtrl.email" name="email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="createAccountCtrl.password" name="password" ng-minlength="6" required>
                </label>
            </ion-list>
            <div class="padding" style="color:#cf6557;text-align:center;">
                <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">*email is required</p>
                <p ng-show="signupForm.password.$error.minlength && !signupForm.password.$pristine">* Password must be longer than 6 characters</p>
            </div>
            <div class="spacer" style="width: 285px; height: 34px;"></div>
            <div id="cREATEACCOUNT-markdown2" style="color:#FFFFFF;text-align:center;">
                <p>To activate your account, click the link in your confirmation email. By signing up, I agree to Staytus' Terms of Service &amp; Privacy Policy</p>
            </div>
            <button type="submit" id="cREATEACCOUNT-button2" class="button button-light  button-block button-outline" ng-disabled="signupForm.$invalid" ng-click="createAccountCtrl.signup(createAccountCtrl.email,createAccountCtrl.password)">ELEVATE MY STAYTUS</button>
        </form>
        <div id="cREATEACCOUNT-markdown3" style="color:#FFFFFF;text-align:center;">
            <p>OR</p>
        </div>
        <button id="cREATEACCOUNT-button5" class="button button-positive  button-block icon-left ion-social-facebook">CONNECT WITH FACEBOOK</button>
        <a ui-sref="signInAccount" id="cREATEACCOUNT-button6" class="button button-light  button-block button-clear">Already an insider? Sign in</a>

    </ion-content>
</ion-view>