<ion-view title="Page" id="page1" style="background-color:#000000;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/LlqFeIT0aGhbPNMLeccw_staytus-crop.png" width="30%" height="auto">
        </div>
        <div id="page-markdown1" style="color:#FFFFFF;text-align:center;">
            <p>Enjoy privileges dedicated exclusively to Staytus Insiders, such as access to private events, food and beverage offers, spa benefits, and other perks.</p>
        </div>
        <div class="spacer" style="width: 285px; height: 68px;"></div>
        <a ui-sref="createAccount" id="page-button1" class="button button-light  button-block button-outline">ELEVATE MY STAYTUS</a>
    </ion-content>
</ion-view>