<ion-view title="Signup" id="page2" style="background-color:#000000;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button2" class="button button-light  button-block button-outline">Sign up</button>
        </form>
    </ion-content>
</ion-view>